.app {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 1200px; /* Increase max-width to accommodate both charts and messages */
  margin: auto;
  margin-top: 1rem;
}

.content {
  display: flex;
  align-items: flex-start;
}

.chart-area {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if the screen is too narrow */
  margin: 20px;
  gap: 20px; /* Add some space between the charts */
}

.chart-wrapper {
  flex: 1;
  min-width: 300px; /* Ensure the charts have a minimum width */
}

.message-area {
  flex: 2;
  margin: 20px;
}

.message-list {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  min-height: 50vh;
  max-height: 80vh;
}

.client-message {
  background-color: white;
  padding: 8px 8px 0 8px;
  margin-right: 0.5rem;
  border-radius: 10px;
  float: right;
  margin-left: auto;
  overflow-wrap: break-word;
  text-align: right;
}

.ai-message {
  background-color: lightblue;
  padding: 8px 8px 0 8px;
  margin-left: 0.5rem;
  border-radius: 10px;
  float: left;
  margin-right: auto;
  overflow-wrap: break-word;
  text-align: left;
}

.input-area {
  display: flex;
  justify-content: space-between;
}

.inline-form {
  display: flex;
  width: 100%;
}